.selectContainer {
  display: inline-block;
  position: relative;
}

.selectedValues {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  padding: 8px 12px;
  border: 0.658px solid #479f76;
  border-radius: 4px;
  background-color: #fff;
  color: #37352f;
  font-size: 14px;
  line-height: 1.7;
  cursor: pointer;

  &::after {
    content: url('../../../public/icons/arrow_down.svg');
    width: 24px;
    height: 24px;
    font-size: 18px;
    transition: transform 0.3s;
  }

  &.open {
    &::after {
      transform: rotate(180deg);
    }
  }
}

.selectOptions {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.selectOption {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  cursor: pointer;
  border-bottom: 1px solid #eaf2ff;
  color: #37352f;
  font-size: 14px;
  line-height: 1.7;

  input {
    margin-right: 12px;
  }
}
